.p-relative {
  position: relative;
}

.relative-fill {
  position: relative;
  width: 100%;
  height: 100%;
}

.t-overlay {
  height: inherit;
  width: inherit;
  border: inherit;
  border-radius: inherit;
  /*background: inherit;*/
  outline: inherit;
  box-shadow: inherit;
}

